<!DOCTYPE html>
<html>
<head>
  <title>Instruction</title>
</head>
<body>
<h1> Instructions</h1>
<ol>
  <h4><li>Choose a quiet, well-lit, and distraction-free environment.</li></h4>
  <h4><li>Verify that your camera is working correctly.</li></h4>
  <h4><li>Ensure your face is visible on the webcam.</li></h4>
  <h4><li>Remove any external materials, notes, or textbooks from your workspace.</li></h4>
  <h4><li>Close all non-essential applications and browser tabs.</li><h4>
</ol>
<form action="/quiz" method="post">
  <button type="submit" >Start</button>
</form>
</body>
</html>
